body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #6c4077;
    padding: 10px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 10px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #6c4077;
    padding: 5px;
  }
  
  footer {
    background-color: #6c4077;
    padding: 0px;
    text-align: center;
    
  }

  footer ul.social-media {
    list-style-type: none;
    padding: 0;
    display: flex;
  }
  
  .footer-links a {
    margin-right: 10px;
  }
  
  main {
    margin: 20px;
  }